<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/js/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Complex</title>
</head>
<body>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-diamond'></i>
        <span class="logo_name">Medical Complex</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bxs-user-account'></i>
                <span class="link_name">Sign Up</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Sign Up</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-log-in'></i>
                <span class="link_name">Sign In</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Sign In</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="name-job">
                        <i class='bx bxl-github'></i>
                    <i class='bx bxl-linkedin-square'></i>
                </div>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
    </div>
</section>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });
</script>
</body>
</html>
